apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agenda-api
  template:
    metadata:
      labels:
        app: agenda-api
    spec:
      containers:
        - name: agenda-api
          image: docker.io/rsantiag085/agenda-api:v1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: agenda-api-configmap
                  key: DB_HOST

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: agenda-db-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: agenda-db-secret
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: agenda-db-secret
                  key: POSTGRES_DB

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet: 
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10