apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namePrefix: prod-
replicas:
  - name: backend-deployment 
    count: 3 

  - name: frontend-deployment 
    count: 3 